name: Manual Dispatch Workflow

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
          - info
          - warning
          - debug
      environment:
        description: 'Deployment environment'
        required: true
        type: environment
      matrix:
        description: 'Tags for the run'
        required: true
        type: string

jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJSON(INPUT_VALUE) }}
    steps:
      - name: Print the inputs
        run: |
          echo "Log level: $LEVEL"
          echo "Tags: $TAGS"
          echo "Environment: $ENVIRONMENT"
        env:
          LEVEL: ${{ inputs.logLevel }}
          TAGS: ${{ inputs.tags }}
          ENVIRONMENT: ${{ inputs.environment }}